body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

h1{
    color: #fff;
}

h2 {
    color: #333;
}

.movie-poster img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.movie-summary, .movie-details, .movie-reviews, .movie-rating, .related-movies {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.movie-preview{
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

}

.movie-preview iframe {
    width: 100%;
    height: 700px;
}

.related-movies-container {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.related-movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie-card {
    width: 30%; /* 调整卡片的宽度 */
    margin: 8px; /* 调整卡片的间距 */
    text-align: center;
}

.movie-card img {
    width: 40%;
    border-radius: 10px;
}

.movie-card p {
    margin-top: 10px;
    font-weight: bold;
}